.header_message
  .upper-message
    %h2.user-name
      = message.user.name
    %ul.group-name 
      Member:
      %li.group-name__list
        = @group.users

  .edit-btn__header 
    %li.edit-btn 
    =link_to 'Edit', edit_group_path(@group) 


.main_contents__messages
  .header
    = message.user.name
    = message.created_at.strftime("%Y/%m/%d %H:%M")

.form
  = form_for [@group, @message] do |f|
    = f.text_field :body, class: 'form__message', placeholder: 'type a message'
    .form__mask
      = f.label :image, class: 'form__mask__image' do
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__submit'


