.main_contents
  .header
    .groupname
      %ul.groupname groupname 
      %li.menber Member : satoru
    .edit-btn__header 
      %li.edit-btn 
        =link_to 'Edit','edit_group_path'  
         
  .main_contents__messages
    .header
      %p message.user.name
      %p messages.created_at.strftime("%Y/%m/%d %H:%M")

  .main_contents__form
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: "messages", placeholder:"type a message"
        .form__input
          = f.label :image,class: "input__boximage" do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: "input__boximage__imagefile"
        = f.submit 'Send', class: 'submit-btn'